

/* @font-face */ 
@font-face{
    font-family: "Roboto";
    src: '../fonts/Roboto/Roboto-Regular.ttf';
}

@font-face{
    font-family: "Plaster";
    src: '../fonts/plaster/Plaster-Regular.ttf';
}

@font-feature-values{
    font-family: 'Aclonica', sans-serif;
}
