/* Apply your desired styling here */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2b94dacf;
    
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 0 20px 10px 20px;
    position: relative;
    background-color: rgba(208, 206, 223, 0.377);
    border-radius: 10px;
    box-shadow: 5px 5px 10px #2f2f2fb2;
}

.heading {
    text-align: center;
    margin-top: 20px;
}

.circle-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.circle-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}



.content {
    margin-top: 200px; /* Adjust as needed for content spacing */
}

h1 {
    margin-bottom: 20px;
}


/* Rest of your styles */

.github-button {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
  }
  
  .github-button:hover {
    background-color: #555;
  }
  
  .github-logo {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
  }
  